body
{
    margin: 0;
    padding: 0;
}

section
{
    text-align: left;
}

img
{
    width: 100px;
    border-radius: 20%;
}
a
{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
}
h1 
{
    font-size: 50px;
    color: rgb(199, 170, 226);
}

main
{
    background-color: rgb(132, 0, 255);
}

li
{
    font-size: 25px;
    color: aqua;
}

footer
{
    background-color: rgb(0, 0, 0);
    font-size: 40px;
    color: blueviolet;
}